<div class="container mx-auto">
  <h1 class="text-center text-3xl leading-9 font-extrabold text-gray-900 mb-5">Reports</h1>

  <div class="flex flex-col lg:flex-row gap-4 ">
    <div class="lg:w-1/4">
      <%= render "filters" %>
    </div>
    <div class="lg:w-3/4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4" id="reports-list">
      <%= render partial: 'reports/reports_list', locals: { reports: @reports } %>
    </div>
  </div>
</div>